<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.dao.UserMapper">
    <select id="findAll" resultType="com.springboot.model.User">
        select id, name, role_id roleId from user
    </select>

    <select id="findByName" resultType="com.springboot.model.User">
        select id, name, password, role_id roleId from user where name = #{name}
    </select>

    <insert id="save" parameterType="com.springboot.model.User">
        insert into user(name, password, role_id) values(#{name}, #{password}, #{roleId})
    </insert>
</mapper>